body {
	background: rgb(50,100,200);
	color: white;
	min-width: 1100px;
	margin: 0;
	padding: 0;
}

.app {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

#info {
	position: absolute;
	top: -5px;
	left: 6px;
	z-index: 2;
	font-size: 12px;
	color: rgb(225,225,225);
}

.em {
	margin-left: 3px;
	margin-bottom: 6px;
	transform: rotateY(180deg);
}

#info:hover {
	color: white;
	cursor: pointer;
}

#about {
	display: none;
	position: absolute;
	margin: 0;
	width: 100%;
	height: 100%;
	background: rgba(25,25,25,0.95);
	z-index: 5;
	text-align: center;
}

.about-content {
	padding-top: 125px;
	font-family: sans-serif;
	font-size: 28px;
	color: #DEE5E5;
}

a, a:visited {
	color: white;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

#crash-btn {
	position: absolute;
	top: -5px;
	right: 6px;
	z-index: 2;
	font-size: 12px;
	color: rgb(225,225,225);
}

#crash-btn:hover {
	color: white;
	cursor: pointer;
}

.half {
	margin-top: 18px;
	width: 550px;
}

.street-sign {
	width: 550px;
	text-align: center;
}

.direction {
	position: absolute;
	margin-top: -20px;
	margin-left: 5px;
	font-size: 15px;
	color: rgb(125,125,125);
}

h1 {
	background: rgb(0,117,75);
	padding: 10px;
	width: 300px;
	margin: auto;
	color: white;
	border: 3px solid white;
	border-radius: 6px;
	font-family: sans-serif;
}

.light-container {
	margin: 12px auto;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.light {
	width: 160px;
	height: 500px;
	border: 35px solid rgb(40,40,40);
	border-radius: 15px;
	background: rgb(250, 190,10);
}

.circle {
	width: 100px;
	height: 100px;
	margin: 8px auto;
	border-radius: 50%;
	border: 7px solid rgb(50,50,50);
}

.left {
	text-align: center;
	font-size: 70px;
	color: rgb(30,30,30);
}

.fa {
	margin-top: 12px;
}

.controls {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.btn-container {
	width: 215px;
}

button {
	width: 215px;
	margin: 5px auto;
	font-size: 20px;
	font-family: 'sans-serif';
	padding: 8px;
	border-radius: 2px;
	border: none;
	background: #FFD293;
}

button:hover {
	cursor: pointer;
	background: #FFE593;
}

